name: Build and Deploy ParkourWarrior

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 24
      uses: actions/setup-java@v4
      with:
        java-version: '24'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    # Build the project and generate the single aggregated documentation
    - name: Build and Aggregate Docs
      run: ./gradlew clean build javadoc

    - name: Deploy Javadocs via SCP
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        # This takes the files built on the runner and sends them to the server
        source: "docs/*"
        target: "/var/webdocs/ParkourWarrior"
        strip_components: 1
